{% extends "base.twig" %}
{% block body %}
<h1>MAIN PAGE</h1>

{% for weather in cities %}
    
<div class="city-box">
    <ul>
        <li><h4>{{ weather['name'] }}</h4></li>
        <li>Temperature: {{ weather['temp'] }} *C</li>
        <li>Pressure: {{ weather['pressure'] }} hPa</li>
        <li>Humility: {{ weather['humidity'] }} %</li>
        <li>Description: {{ weather['description'] }}</li>
    </ul>
</div>
    
    
{% endfor %}



{% endblock %}