{% extends "base.twig" %}
{% block body %}
    
    <h1>SEARCH PAGE</h1>
    
        <div class="city-box">

            <ul>
                <li><h4>{{ city['name'] }}</h4></li>
                <li>Temperature: {{ city['temp'] }} *C</li>
                <li>Pressure: {{ city['pressure'] }} hPa</li>
                <li>Humidity: {{ city['humidity'] }} %</li>
                <li>Description: {{ city['description'] }}</li>
            </ul>
            <form class="add-city" action="{{ webPath}}profile" method="post">
                <input name="city"  type="hidden" value="{{ city['name'] }}">
                <input name="addingCity"  type="hidden" value="true">
                <button type="submit" class="btn btn-success">Add to my profile</button>
            </form>
        </div>

{% endblock %}