{% extends "base.twig" %}
{% block body %}
    
    <h1>SEARCH PAGE</h1>
    
        <div class="city-box">

            <ul>
                <li><h4>{{ city['name'] }}</h4></li>
                <li>Temperature: {{ city['temp'] }} *C</li>
                <li>Pressure: {{ city['pressure'] }} hPa</li>
                <li>Humidity: {{ city['humidity'] }} %</li>
                <li>Description: {{ city['description'] }}</li>
            </ul>
            <form class="add-city">
                <input name="addingCity" method="post" type="hidden">
                <button type="submit">X</button>
            </form>
        </div>

{% endblock %}